body {
  padding: 60px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.icon-left {
  margin-right:5px;
}

.icon-right {
  margin-left:5px;
}

.navbar-brand img {
  height: 40px;
  margin-top: -10px;
}
.container-canvas {
  /* This could be done in one single declaration. See the extended sample. */
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin-top: 20px;
}
.volume-canvas {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
canvas{
  width: 100% !important;
  /*max-width: 1200px;*/
  height: auto;
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  padding: 3px;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
  display:inline-block;
  width:10px;
  height:10px;
}

ul.line-legend {
  padding-left: 0px;
  list-style-type: none;
}
.line-legend li span{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}